<h1>Home#bookings</h1>
<p><form action="https://getsimpleform.com/messages?form_api_token=c6743078210c62f711e03f2bb08049fa" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
  <!-- all your input fields here.... -->
  <span> Name: <input type='text' name='name' /></span>
  <div>

  City: <input type='text' name='city' />
</div>
<div>
  State: <input type='text' name='state' />
</div>
<div>
  Address: <input type='text' name='address' />
</div>
<div>
  Phone: <input type='text' name='phone' />
</div>
<div>
  Date/time of event: <input type='text' name='dateTime' />
</div>
<div>
  Event type: <input type='text' name='type' />
</div>
  <input type='submit' value='Submit' />
</form>
</p>
