<form action="https://getsimpleform.com/messages?form_api_token=c6743078210c62f711e03f2bb08049fa" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
  <!-- all your input fields here.... -->
  Name: <input type='text' name='name' />
  Address: <input type='text' name='address' />
  City: <input type='text' name='city' />
  State: <input type='text' name='state' />
  Phone: <input type='text' name='phone' />
  Date/time of event: <input type='text' name='dateTime' />
  Event type: <input type='text' name='type' />
  <input type='submit' value='Submit' />
</form>
